#parse("/static/templates/includes/common/tab-list.vm")

#parse("/static/templates/includes/site/people.vm")
#parse("/static/templates/includes/site/dummy-tab.vm")

#set($title = "CRMj")
#macro(content)
    <div id="table-tab-list"></div>

    <div id="people-content">
        #people_content()
    </div>
    <div id="dummy-content">
        #dummy_content()
    </div>

    <script>
        let tableTabList = new TabList("TableList", $("#table-tab-list"),
            [
                {"display": "People", "content": $("#people-content")},
                {"display":  "Dummy", "content":  $("#dummy-content")}
            ]
        );
    </script>
#end
#parse("/static/templates/layouts/default.vm")
