<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>$title</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <header>
            <h1><a href="/">CRMj</a></h1>
        </header>
        #content()
        <footer>

        </footer>
    </body>
</html>