<html>
    <head>
        <title>
            Contacts
        </title>
    </head>
    <body>
        <form id="contact" action="/contact_added" method="post">
            <label for="firstname">First name:</label>
            <input id="firstname" type="text" value="" name="firstname" size="30"/><br/>
            <label for="middlename">Middle name:</label>
            <input id="middlename" type="text" value="" name="middlename" size="30"/><br/>
            <label for="lastname">Last name:</label>
            <input id="lastname" type="text" value="" name="lastname" size="30"/><br/>
            <button class="" onclick="/contact_added">Add</button>
        </form>
    </body>
</html>