<html>
    <head>
    </head>
    <body>
        <p>
            Added contact: $contact.getFirstName() $contact.getLastName()
        </p>
        <p>
            <a href="/add_contact">Add another</a>
        </p>
        <p>
            <a href="/all_contacts">List contacts</a>
        </p>
    </body>
</html>