:root {
    --container-border-color: darkblue;
}

#people-container {
    display: flex;
    width: 100%;
}

#people-list-container {
    flex: 1;
    padding: 4px;
    margin-right: 4px;

    border: 2px solid var(--container-border-color);
}

#person-edit-container {
    flex: 1;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    padding: 4px;

    border: 2px solid var(--container-border-color);
}

#person-edit-container label {
    text-align: right;
}
