:root {
    --container-border-color: #dfe3eb;

    --selector-color-hover: #ed7558;
    --selector-color-unselected: #429ab3;
    --selector-color-selected: #429ab3;
}

.record-container {
    display: flex;
    width: 100%;
}

.record-list-manager {
    flex: 1;
    padding: 4px;
    margin-right: 4px;

    border: 2px solid var(--container-border-color);
}

.record-element {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: var(--selector-color-unselected);
}

.record-element.selected {
    color: var(--selector-color-selected);
    text-decoration: underline;
}

.record-element:hover {
    color: var(--selector-color-hover);
}

record-list-footer {

}

.record-edit-container {
    flex: 1;

    border: 2px solid var(--container-border-color);
}

.edit-container-table {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    padding: 4px;
}

.edit-container-table label {
    text-align: right;
}

.message {
    font-size: 12px;
    font-weight: bold;
    color: var(--selector-color-hover);
    text-align: left;
    background: #eaf0f6;
}

.edit-container-address-table {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
    padding: 4px;
}

.edit-container-address-table label {
    text-align: right;
}

.address-element {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    color: var(--selector-color-unselected);
}

.address-element.selected {
    color: var(--selector-color-selected);
    text-decoration: underline;
}

.address-element:hover {
    color: var(--selector-color-hover);
}
