#parse("/static/templates/includes/common/record-list.vm")

#macro(people_content)
    <link rel="stylesheet" href="/css/people.css">
    <h3>People</h3>
    <div>
        <span class="button-bar" id="record-count">$count</span>
        <button onclick="getPeople()">Refresh</button>
        <button onclick="clearForm()">Add New Person</button>
    </div>

    <div id="person-record-list" class="record-container">
        <div class="record-list-manager" id="record-list-manager">
            <div class="record-list-container" id="record-list-container"></div>
            <div class="record-list-footer"></div>
        </div>
        <div class="record-edit-container">
            <div class="edit-container-table">
                <label>Nickname:</label>
                <input class="property-nickName" type="text">
                <label>First Name:</label>
                <input class="property-firstName" type="text">
                <label>Middle Names:</label>
                <input class="property-middleNames" type="text">
                <label>Last Name:</label>
                <input class="property-lastName" type="text">
                <label>Maiden Name:</label>
                <input class="property-maidenName" type="text">
                <label>Title:</label>
                <input class="property-title" type="text">
                <label>Birthday:</label>
                <input class="property-dateOfBirth" type="date">
                <button class="btn-update" onclick="updatePerson()" style="display: none;">Update</button>
                <button class="btn-remove" onclick="removePerson($(this).parent().data(`id`))" style="display: none;">Remove</button>
                <button class="btn-add" onclick="addPerson()">Add</button>
            </div>
        </div>
    </div>
    <script src="js/jpeople.js"></script>
#end