#parse("/static/templates/includes/common/record-list.vm")

#**
 * Contents of the people tab. Displays list of records from the people table and their corresponding attributes.
 *#
#macro(people_content)
    <link rel="stylesheet" href="/css/people.css">
    <h3>People</h3>
    <div>
        <button onclick="personRecordList.retrieveRecordList();">Refresh</button>
        <button onclick="personRecordList.deselectRecord();">Add New Person</button>
    </div>

    <div id="person-record-list"></div>

    <script>
        let personRecordList = new RecordList("person", $("#person-record-list"), function(record) {
            if (record["firstName"] === "")
                return {success: false, reason: "First name must not be empty"};
            return {success: true};
            }, [
                {"display":     "Nickname:", "label":    "nickName", "type": "text"},
                {"display":   "First Name:", "label":   "firstName", "type": "text"},
                {"display": "Middle Names:", "label": "middleNames", "type": "text"},
                {"display":    "Last Name:", "label":    "lastName", "type": "text"},
                {"display": "Married Name:", "label": "marriedName", "type": "text"},
                {"display":        "Title:", "label":       "title", "type": "text"},
                {"display":     "Birthday:", "label": "dateOfBirth", "type": "date"}
            ]
        );
    </script>
#end
