#macro(record_list $name $recordList $properties)
    <div id="${name}" class="record-container">
        <div class="record-list-container">

        </div>
        <div class="record-edit-container">
            <h2></h2>

            <div class="edit-container-table">
                #foreach($prop in $properties)
                    <label>${prop.display}</label><input class="property-${prop.label}" type="${prop.type}" />
                #end

                <button class="btn-update" onclick="${recordList}.sendUpdateRecord();">Update</button>
                <button class="btn-remove" onclick="${recordList}.sendRemoveRecord();">Delete</button>
                <button class="btn-add" onclick="${recordList}.sendAddRecord();">Add New</button>
            </div>
        </div>
    </div>
#end
