#**
 * Create a tab list which allows for dynamic switching between content blocks (defined in tabs).
 * <br>
 * <br>
 * <strong>Params:</strong>
 * <ul style="list-style: none">
 *     <li>
 *         <strong>tabs [list[object]] - </strong>List of tab information in the following format:
 *         <ul style="list-style: none">
 *             <li>
 *                 <strong>id [text] - </strong>Unique DOM id for the tab. Used in content containers (as tab.id) and in tab
 *                 buttons (as "tab.id"-button).
 *             </li>
 *             <li>
 *                 <strong>name [text] - </strong>Display text for the tab.
 *             </li>
 *             <li>
 *                 <strong>content [html] - </strong>Contents of the tab container.
 *             </li>
 *         </ul>
 *     </li>
 * </ul>
 *#
#macro(tablist $tabs)
    <div class="tab">
        #foreach($tab in $tabs)
            <button id="${tab.id}-button" data-target="$tab.id">$tab.name</button>
        #end
    </div>
    <div class="tab-content-container">
        #foreach($tab in $tabs)
            <div id="$tab.id" class="tab-content">
                $tab.content
            </div>
        #end
    </div>
#end